.navbar {
  width: 100%;
  top: 0;
  position: sticky;
  height: 4.8em;
  padding: 0 1em 0 1em;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
  z-index: 10;
  ul {
    display: flex;
    gap: 1em;
    margin: 0;
    align-items: center;
    a {
      text-decoration: none;
      font-size: 1.1em;
      color: black;
    }
    svg {
      scale: 1.5;
      fill: black;
      margin-left: 0.5em;
    }
  }
}

#boton-carrito:after {
  content: "";
}
